footer 
    background-color maincolor
    padding 5em 0 0
    margin-top 5em
    .ozmit
        border 1px dashed #2561aa6e
        padding 10px 15px
        .d-inline
            float left
            margin-top 14px
        img
            height 80px
    .map-part
        h3
            font 28px Coco-Bd
            color secondcolor
            margin-bottom 1.5em
            margin-top 2.5em
        ul.list-unstyled
            li
                width 49%
                display inline-block
                // padding 10px 20px
                position relative
                i 
                    margin-left 1.5em
                    color white
                    font-size 10px
                &:hover
                    a, i
                        color secondcolor
        .details
            ul
                li
                    display block
                    color white
                    font: 18px Coco-Bd
                    line-height 2.75
                    margin-right 2em
                    &:before
                        display inline-block
                        font-family Flaticon
                        right 1em
                        position absolute
                li.located
                    &:before
                        content "\f107"
                li.numbers
                    &:before
                        content "\f100"
                li.mails
                    &:before
                        content "\f103"
    .rights-reserved
        background-color secondcolor
        margin-top 3em
        p
            margin 0
            font 16px Coco-Lt
            color white
            line-height 50px
            @media (max-width 500px)
                font-size 14px
            a
                font 16px Coco-Lt
        .left
            text-align left
            p
                a
                    font-weight bold
                    &:hover
                        color black   
footer .first-navbar .container
    border-bottom none
.hvr-underline-reveal
    width 100%