.first-navbar
    background-color maincolor
    min-height 50px
    .container
        border-bottom 1px solid #2561aa7a
    .left-side-nav
        float: left
        @media (max-width 567px)
            float: none
    .auto-margin
        @media (max-width 567px)
            text-align: center !important
    ul
        li
            display inline-block
    a
        color white
        font-family Coco-Lt
        line-height 50px
        i
            font-size 16px
            padding 10px
        i.flaticon-envelope
            color secondcolor
    .language
        img
            height 13px
            width 19px
            margin-left .25em
    .language-2
        img
            height 13px
            width 13px
            margin-left .25em
    ul.dropdown-menu 
        li
            a 
                color black
                line-height 25px
li.lang
    line-height 2 !important
nav.navbar
    padding 0
    ul.navbar-nav
        li
            a
                font-family 'Coco-Lt'
                color black !important
.navbar-light 
    .navbar-toggler
        margin auto
.logo-area
    img 
        padding 1em 0
ul.navbar-nav
    position relative
    width 100%
    li.send-sms
        position absolute
        left 0
        a
            border 1px dashed #000
            padding .5em 2em !important
            margin-top 8px
            border-radius 4px
.search-area
    background-color maincolor
    padding: 7px 0 13px
    .contact-area
        .address, .phones
            display inline-block
            i, .spans
                display inline-block
            i
                color secondcolor 
                border 1px dashed secondcolor
                padding 8px 11px
                border-radius 50%
            .spans
                span 
                    color white
                    // float left
                    font 14px Coco-Bd
.base-bg
    background-image url(../images/002.png)
    background-repeat no-repeat
    width 100%
    background-size cover
    padding 6em 0
    position relative
    &:before
        content ''
        position absolute
        top 0
        right 0
        bottom 0
        left 0
        background-color rgba(0, 0, 0, 0.84)
        opacity 0.9
    a, h2
        position relative
    h2
        font 50px Coco-Bd
        color secondcolor
    a
        font 18px Coco-Lt
        color white
