/*################### side menu ####################*/
// .side-menu
//         position absolute
//         z-index 9
//         left 0
//         right 0
//         top 0
//         @media screen and (min-width: 991px)
//             display none
//         .side-menu-header
//             height 90px
//             position fixed
//             left 0
//             right 0
//             top 0
//             z-index 5
//             display inline-block
//             transition 0.5s
//             background-color white
//             .open-menu
//                 color #000 !important
//                 font-size 35px
//                 padding 20px
//                 float left
//                 > i
//                     margin-top 20px
//             .logo-img
//                 float right
//                 padding 5px
//                 width 50%
//                 > img
//                     width 140px
//                     margin-right 20px
//                     height: 100%;
//         .menu2
//             position fixed
//             width 0
//             background-color #000 !important
//             display inline-block
//             transition 0.5s
//             z-index 5
//             overflow hidden
//             height 100%
//             left 0
//             text-align center
//             .close-menu
//                 color #fff !important
//                 font-size 25px
//                 float right
//                 margin-right 20px
//                 margin-top 10px
//                 width 35px
//                 text-align center
//                 border-radius 50%
//             > ul
//                 list-style-type none
//                 padding 20px
//                 margin-top 60px
//                 margin-right 20px
//                 > li
//                   padding 5px 0
//                   > a
//                     text-decoration none
//                     color  #b0a171 !important
//                     font-size 20px
//                     font-family 'itcmd'
//                     &:hover
//                         color  #fff !important
//                         background-color maincolor
                    


            

                  
                  

 
                 
